<h2>Liste des RSS</h2>
<table class="table">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Titre</th>
        <th scope="col">Lien</th>
        <th scope="col">Actions</th>
    </tr>
    <?php foreach ($fluxRss as $rss) : ?>
        <tr>
            <th scope="row"><?= $rss['id_rss'] ?></th>
            <td><?= $rss['titre'] ?></td>
            <td><?= $rss['xml_path'] ?></td>
            <td>
            <a class="btn btn-blue" href="/CtrlRss/getRss/<?= $rss['id_rss'] ?>">O</a>
                <form action="/CtrlRss/delete/<?= $rss['id_rss'] ?>" method="post">
                    <input type="hidden" name="valid" value="<?= $rss['id_rss'] ?>" />
                    <button class="btn btn-danger" onclick="return confirm('êtes-vous sûr ?')"><i class="bi bi-trash"></i></button>
                </form>
            </td>
        </tr>
    <?php endforeach ?>
</table>

<a class="btn btn-blue" href="/CtrlRss/getForm">Ajouter un flux</a>