<?php
date_default_timezone_set('Europe/Paris');
?>

<h1><?= $data['channel']['description'] ?></h1>
<p>Retrouver toute l'actualités, les news sur <a href="<?= $data['channel']['link'] ?>" target="_blank"></a>
    <?= ($flux != "NewsJO") ?   '<a href="' . $data["channel"]["link"] . '" target="_blank"><img width="100" src="' . $data["channel"]["image"]["url"] . '" alt="www.Jeuxvideo.com"></a>' :
                                '<a href="'. $data["channel"]["link"] . '" target="_blank">JO PARIS 2024</a>' ?>
</p>
<?php foreach ($data['channel']['item'] as $item) : ?>
    <div class="card shadow-sm mt-4">


        <img class="card-img-top" type="<?= $item['enclosure']['@attributes']['type'] ?>" src="<?= $item['enclosure']['@attributes']['url'] ?>" />

        <div class="card-body row">
        <?= ($flux == "NewsJO") ? "" : "<h5 class='" . (str_contains($item['category'], 'culture') ? 'text-primary' : 'text-warning') . "' > " . $item['category'] . "</h5>"?>



            <p class="text-muted <?= ($flux != "NewsJO") ? "col-6" : "col-12" ?> text-end"> Publié le : <?= $item['pubDate'] ?></p>
            <h6 class="card-title col-8"><?= $item['title'] ?></h6>
            <p class="card-text col-12"><?= $item['description'] ?></p>
        </div>

        <div class="card-footer bg-light row m-0">
            <div class="col-6 d-flex justify-content-start align-content-center">
                <p class=""><?= $data['channel']['copyright'] ?></p>
            </div>
            <div class="col-6 text-end p-0">
                <a class="btn btn-primary" href="<?= $item['link'] ?>">Lire la suite</a>
            </div>
        </div>
    </div>
<?php endforeach ?>